<nav>
  <a href="/">
    <img src="/logo.png" id="logo" alt="Blog logo"/>
  </a>
  <h2><a href="/">{{ site.data.theme.name }}</a></h2>  
  <div id="social">
    {% include social.html %}
  </div> 
  <div id="bio"> 
  <p>I would like to live in a world where there are many British anthropologists dressed in jackets-and-ties who easily receive grants for paranormal research. They are professors at a school in a Royal museum and have grad student assistants who monitor energy fields with gadgets. Their fieldwork takes them to the South Pacific, Stonehenge, or Roman ruins somewhere in the Mediterranean.</p> 
  </p>They routinely stumble into old special collection librarian friends at cocktail parties. I know this because I’m a private investigator working on a strange case. I have to take many of photos of them for my job doing surveillance, but am also going to use them in an art show at a gallery run by an elderly occultist and musician. </p> 
  </div>  
</nav>
